@media only screen and (max-width: 600px) {
    body {
      font-size:12px;
    }
  }
#introduction {
        color: rgb(252, 251, 250);
        background: repeating-linear-gradient(127deg, rgb(65, 65, 206), rgb(3, 3, 99) );
        height: 100vh;
        height: 360px;
        font-size: 47px;
}
.name-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        position: relative;
}
em, cite{
        color: #06061b;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
}
ul{
        color: whitesmoke;
        background-image: url(pic/artbg.jpg);
        font-weight: 100;
        font-size: 19px;
        font-family: monospace;
        text-decoration: none;
}
.description{
        font-size: 28px;
        font-weight: 500;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
                font-size: 176%;
                color: rgb(21, 12, 77);
                font-style: italic;
}
table {
        border-width: 0px;
        table-layout: fixed;
        font-family: Segoe UI Light;
        letter-spacing: 0.02em;
        background-color: #181837;
        color: #F0F101;
        border-collapse: separate;
        text-indent: initial;
        font-size: 20px;
        margin-block: 19px;
        border-spacing: 26px;
        tbody   {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
        }
}
a {
        text-decoration: none;
        color: lightslategray;
        font-size: 21px;
        font-style: oblique;
    }
    footer{
        background-color: #181818;
    color: #11EEF4;
    font-size: medium;
    letter-spacing: 1px;
    }
#contact{
        margin:0;
        font-family: monospace;
}
#contact :hover{
        text-decoration: underline;
        color: whitesmoke;
}
    .contact{
        margin-bottom: 1px;
    color: blue;
    font-size: larger;
    font-weight: 100;
    text-decoration: underline;
    }
.footer_p{
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
}
